.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;          
  gap: 12px;

  padding: 16px;
  background: #fff;
  border: 2px solid #d6ddff;
  border-radius: 10px;
}

.logo {
  color: #2b59ff;
  text-decoration: none;
  font-weight: 700;
}




